@charset "utf-8";
/* CSS Document */

/* 1.0 Mobile First CSS */

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 1.5em;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* Focused links and buttons */
a:focus, button:focus, select:focus, option:focus {
    outline: red 3px solid;
}
/* ====================== Navigation ====================== */

nav {
    width: 100%;
    height: 80px;
    background-color: #252831;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav h1 {
    margin: auto;
    font-size: 1.5em;
}

nav h1 a {
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

nav.breadcrumb {
    height: auto;
    display: block;
    text-align: left;
}

#breadcrumb {
    padding: 1em 1.5rem;
    list-style: none;
    background-color: #eee;
    font-size: 0.9em;
    margin: 0;
    width: auto;
}

.skip-link {
    position:absolute;
    left:-2000px;
    top:3px;
    z-index: 100;
    background: #3397DB;
    color:#fff;
    padding: 0.5em 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.skip-link:focus { 
    left:3px;
}
a.skip-link:hover {
    background:#2b7cb4;
}
a.skip-link:hover, a.skip-link:focus {
    color:#fff;
}
/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    padding:10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* height: 50px; - removing to make it responsive */
    background-color: #3397DB;
    display: -webkit-box; /* for centering its elements */
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filter-options h2 {
    color: white;
    font-size: 1.3rem; /* Making the 'filter' header more visible */
    font-weight: normal;
    width: 100%; /* making it fill the whole width as a flex element */
    text-align: center;
    line-height: 1;
    margin: 10px;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
}
/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 4% 2% 8%;
    text-align: center;
}

#restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 5% 2%;
    /* min-height: 380px; - removing for responsivness */
    padding: 3%;
    width: auto; /* Making the box responsive */    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Distributing content evenly throughout the containing box */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    width: 100%; /* making the image responsive */
}

#restaurants-list li h3 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#restaurants-list li a:hover, #restaurants-list li a:focus {
    background-color: #d98c00; 
}
/* ====================== Restaurant Details ====================== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 400px;
    /* fallback for browsers not supporting calc */
    height: calc(95vh - 140px);
    min-height: 200px;
    max-height: 600px;
    width: 100%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    width: 100%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 8% 4% 4%;
}


#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

#reviews-list li p {
    margin: 0 0 10px;
    padding: 0 20px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#restaurant-hours td {
    color: #666;
}

/* Review content */
#reviews-list li p.reviewer {
    font-size:1.2em;
    color:#fff;
}
#reviews-list li p.review-date { 
    text-align: right;
    color:#ddd;
}
#reviews-list li p.reviewer, #reviews-list li p.review-date {
    background-color: #000;
    float: left;
    width:50%;
    padding-bottom: 0;
    height:45px;
    padding-top: 15px;
    line-height: 15px;
}
#reviews-list li p.review-rating {
    color: #fff;
    background-color: orange;
    border-radius: 0.2em;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    line-height: 1em;
}

/* 2.0 Responsive design - for tablets, laptops */
@media screen and (min-width: 551px) { 
    /* Making the restaurant list elements display a couple in a row */
    #restaurants-list {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #restaurants-list li { 
        width:46%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2%;
    }
}

@media screen and (min-width: 651px) {
    /* ====================== Navigation ====================== */
    nav.breadcrumb {
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    /* ====================== Restaurant Listing ====================== */
        #restaurant-container { 
            padding-top:150px;
        }
        #reviews-container { 
            padding-top:3em;
        }
    
    /* ====================== Restaurant Details ====================== */
    .inside #map-container {
        width: 50%;
        height: 100%;
        max-height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        padding-top: 80px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: solid 1px #d9d9d9;
    }
    .inside #footer {
        width: 50%;
    }
    #restaurant-container,
    #reviews-container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
    }
}


@media screen and (min-width: 751px) { 
/* ====================== Restaurant Listing ====================== */
    
    /* Making the restaurant list elements display 3 in a row */
     #restaurants-list li { 
        width:29.333%;
    }
}


@media screen and (min-width: 951px) { 
/* ====================== Restaurant Listing ====================== */
    
    /* Making the restaurant list elements display 4 in a row */
     #restaurants-list li { 
        width:23%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 1%;
    }
}


@media screen and (min-width: 1151px) { 
/* ====================== Restaurant Listing ====================== */
    
    /* Making the restaurant list elements display 5 in a row */
     #restaurants-list li { 
        width:18%;
    }
}

@media screen and (min-width: 1400px) { 
/* Centering and limiting the width of page content */
    /* ====================== Restaurant Listing ====================== */
    #restaurants-list {
        max-width: 1400px;
        margin: 0 auto;
    }
    /* ====================== Restaurant Page ====================== */
    .inside {
        background-color: #eeeeee; 
    }
    .inside #breadcrumb {
        max-width: 700px;
        margin: 0 50% 0 auto;
    }
    .inside #maincontent {
        max-width: 1000px;
        margin: 0 auto;
    }
    .inside #map-container {
        max-width: 700px;
        left: 50%;  
    }
    .inside #footer {
        max-width: 700px;
        right: 50%;
    }

}